/* 
 # Justify Content
  -> https://app.rocketseat.com.br/classroom/avancando-no-html-e-css-2/group/css-flexbox/lesson/gap-e-margin

 - container         ↓  ----------- ----> concepts 
       -       ↓                    ----- direction   
                                    ----- alignment & spaces
            # Flexbox 

        -      ↑  
 - children   

               
 # concepts -------
               - container
         - flex 
               -  item
               
               - main  ------- start, end
         - axis
               - cross ------- start, end
          
         - sizing 


    # Gap e Margin 
     - gap    -> espaço entre intens
     - margin -> veja no index.html
           


*/

.container {
  border: dashed 1px;
  /* -flex-direction: column; default */
  display: flex; 
  /*- gap: 20px;  */
  
  /* flex-direction: column; */   
  height: 40vh;   
  align-items:  center; 
  
}
.item {
  --hue: 0;
  /* border: solid #fff 0.5px; */
  text-align: center;
  background-color: hsl(var(--hue), 100%, 70%);
  width: 1rem;

  /* height: 20px; */
}
