/* 
 #
 #
 #
 #
 #10 Adicionando rodapé
  -> https://app.rocketseat.com.br/classroom/projeto-pagina-de-receita-2/group/ projeto-pagina-de-receita/lesson/adicionando-o-rodape
*/



* {margin: 0;padding: 0;}
:root {
  font-family: "Alice", serif;
  color: #573a37;
  /* font-weight: 400; */
  /* font-style: normal; */
}
body {
  background-image: url("./assets/imgs/bg-image.png");
  background-size: cover;
  /* background-color: #573824; */
}

#page {
  box-sizing: border-box; /** para no contabilizar o padding na .. */
  width: 800px;
  padding: 24px;
  background-color: #f0e8c2;
  border-radius: 24px;
  margin: 48px auto 28px;
}
img {
  border-radius: 16px;
}

main {
  box-sizing: border-box;
  padding: 24px;
}
section + section {
  margin-top: 24px;
}
#about p + p {
  margin-top: 12px;
}
h1 {
  line-height: 140%;
  font-size: 40px;
}
h2 {
  font-size: 24px;
}
h1, h2 {
  color: #291b1a;
  margin-bottom: 4px;
  line-height: 150%;
}
p {
  color: #573a37;
}
ul{
  padding-left: 26px;
}
footer{
  color: #F0E8C2;
  text-align: center;
  /* margin-bottom: 48px; */
  padding-bottom: 48px;
}

footer img {
  vertical-align: middle;     
}