/* 
 #9 Web Fonts
  -> https://app.rocketseat.com.br/classroom/fundamentos-css-2/group/fontes-e-textos/lesson/web-fonts-1
 ! font web importado no arquivo css - evite usar  + lenta
 # @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;...=swap'); 
 -> lincar web-font no html é forma + eficiente 
  # Um pouco mais sobre web fonts
   -> https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Web_fonts
*/



/** @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap'); */
p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}
